* {
  margin: 0;
  padding: 0;
}

.backimage {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjJpOSOC9Kn_cCau9iDIg_ZrlR91B3i7anYw&s');
  width: 100%;
  margin-top: -16px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bodyImage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px;
}

.paragraph {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.project {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.cardsitem {
  max-width: 40%;
  margin: 10px 18px 10px 20px;
}

.mainSkill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}



.subfirstmainskills {
  width: 100px;
  max-height: 100px;
  border-radius: 65px;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
}



.htmllogo {
  padding: 20px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px;
  gap: 10px;
}

.subcontact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.footer {
  background-color: rgb(188, 192, 196);
}

.sociallink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.sociallink a img {
  width: 50px;
  border-radius: 25px;
  margin-left: 10px;
}

.btn {
  display: grid;
  grid-template-columns: auto auto;
  color: rgb(17, 21, 26);
  background-color: aqua;
  padding: 5px 30px 5px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.btn span {
  margin-top: 5px;
  margin-left: 5px;
  color: rgb(13, 21, 27);
}

