.backimage {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjJpOSOC9Kn_cCau9iDIg_ZrlR91B3i7anYw&s');
  min-height: 575px;
  margin-top: -16px;
  max-width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bodyImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paragraph {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardsitem {
  max-width: 30%;
  margin: 10px 18px 10px 20px;
}

.subfirstmainskills {
  width: 100px;
  max-height: 100px;
  border-radius: 65px;
  background-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.htmllogo {
  padding: 20px;
}

.footer {
  background-color: rgb(188, 192, 196);
}

.email {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 50%;
  margin-left: 300px;
}

.mobnumber {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 50%;
}

.sociallink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.sociallink a img {
  width: 50px;
  border-radius: 25px;
  margin-left: 10px;
}

.btn {
  display: grid;
  grid-template-columns: auto auto;
  color: rgb(17, 21, 26);
  background-color: aqua;
  padding: 5px 30px 5px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.btn span {
  margin-top: 5px;
  margin-left: 5px;
  color: rgb(13, 21, 27);
}

@media (max-width:1080px) {
  .bodyImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
  }

  .image {
    margin-left: 70px;
    margin-bottom: 20px;
  }

  .btn {
    background-color: yellow;
  }

  .project {
    display: flex;
    flex-direction: column;
  }

}